.user-nav {
  //   display: flex;

  &__icon-box {
  }
  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }
  &__natification {
  }
  &__user {
  }
  &__user-photo {
    height: 5rem;
    width: 5rem;
  }
  &__user-name {
  }
}
